.happy-cat-gif{
    height: 40vh;
    position: relative;
}

.gif-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(calc(-50vw - 50%));
}

.gif-container-enter{
    transform: translateX(calc(-50vw - 50%));
}

.gif-container-enter-active{
    transform: translateX(0);
    transition: var(--stage-enter-time);
}

.gif-container-enter-done{
    transform: translateX(0);
}

.gif-container-exit{
    transform: translateX(0);
}

.gif-container-exit-active{
    transform: translateX(calc(50vw + 50%));
    transition: var(--stage-enter-time);
}

.gif-container-exit-done{
    transform: translateX(calc(50vw + 50%));
}


